# Persönlicher Entsorgungs-Kalender Zürich
#set( $H = '#' )

#foreach( $plz in $postCodes )
$H$H Zürich $plz
<a class="button" href="webcal://regisd.github.io/erz-cal/KARTON/erz_${plz}.ics">📦 Karton<a/>
<a class="button" href="webcal://regisd.github.io/erz-cal/PAPIER/erz_${plz}.ics">📃 Papier<a/>

#end
